* {
    margin: 0;
    padding: 0;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
main {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
}

$color1: rgb(0, 0, 0);
$color2: #666;
$normalpad: 30px;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color1;
}

p {
    line-height: 28px;
    color: $color2;
    font-weight: 300;
}

.big-text {
    font-size: 75px;
    font-weight: 900;
}

.medium-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 16px;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .big-text {
        font-size: 35px;
    }

    .medium-text {
        font-size: 28px;
    }

    .normal-text {
        font-size: 16px;
    }

    .small-text {
        font-size: 14px;
    }
}

#first-page {
    background-image: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    width: 100%;
    height: 100%;
}

.menucontent {
    color: $color1;
    width: 28px;
    height: 4px;
    background: $color1;
    border-radius: 10px;
    margin: 5px 0;
    transition: ease-in-out 0.2s;
}

#menu-button {
    z-index: 999999;
    position: fixed;
    right: 30px;
    top: 30px;
    background: transparent;
    border: none;
}

#menu {
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    background: rgb(255, 255, 255);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#menu.is-active {
    left: 0px;
    top: 0px;
}

.is-active .bar2 {
    opacity: 0;
}

.is-active .bar1 {
    transform: rotate(-45deg) translate(-13px, 11px);
}

.is-active .bar3 {
    transform: rotate(45deg) translate(-1px, 0px);
}

#menu ul {
    margin: 5px;
    padding-top: 80px;
}

#menu ul li {
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
}

#menu ul li a {
    color: $color1;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(53, 53, 53);
    font-weight: 900;
    transition: ease-in-out 0.4s;
}

#title {
    padding-top: $normalpad;
    padding-left: $normalpad ;
    font-weight: 200;
}

#subtitle {
    padding-left: $normalpad;
    padding-top: 7px;
    font-weight: 100;
}

.header {
    background: none;
    padding-bottom: $normalpad;
}



@media (max-width: 768px) {
    .hero__content {
        margin-left: 15px;
    }
}

.about {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top: 150px;
}

.about__img {
    width: 60%;
    height: 100%;
}

.about__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about__content {
    width: 40%;
    padding: 50px;
}

@media (max-width: 768px) {
    .about {
        flex-wrap: wrap;
        height: auto;
        margin-top: 100px;
    }

    .about__img,
    .about__content {
        width: 100%;
    }
}

.grid {
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 150px;
}

.grid .col {
    width: 100%;
}

@media (max-width: 768px) {
    .grid {
        flex-wrap: wrap;
    }
    .grid .col {
        width: 100%;
        margin-left: 20px;
    }
}

.main-carousel {
    padding: 40px 0;
}

.carousel-cell {
    height: 280px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    line-height: 300px;
    align-items: center;
    margin-right: 30px;
}

.img-carousel {
    height: 280px;
    width: 280px;
    border-radius: 100%;
}

.footer {
    padding: 150px 0px;
}

.button {
  border-color: $color1;
  border: 7px solid;
  margin-top: 15px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 1920px) {
    #subtitle {
        font-size: 18px;
        padding-top: 0px;
    }

    #title {
        font-size: 28px;
        font-weight: 900;
    }

    #menu {
        font-size: 28px;
    }
}

@media (max-width: 980px) {
    #subtitle {
        font-size: 18px;
    }

    #title {
        font-size: 20px;
    }

    #menu {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    #subtitle {
        font-size: 16px;
    }

    #title {
        font-size: 18px;
    }

    #menu {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #subtitle {
        font-size: 14px;
        padding-left: 15px;
    }

    #title {
        font-size: 16px;
        padding-left: 15px;
    }

    #menu {
        font-size: 16px;
    }

    #menu-button {
        padding-right: 0px;
    }

    .menucontent {
        width: 20px;
        height: 3px;
        margin: 3px 0;
    }

    .is-active .bar2 {
        opacity: 0;
    }

    .is-active .bar1 {
        transform: rotate(-45deg) translate(-10px, 6px);
    }

    .is-active .bar3 {
        transform: rotate(45deg) translate(-2px, 1px);
    }
}


