* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
main {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
}

p {
  line-height: 28px;
  color: #666;
  font-weight: 200;
  margin-top: 10px;
}

.big-text {
  font-size: 60px;
  font-weight: 600;
}

.medium-text {
  font-size: 40px;
  font-weight: 500;
}

.normal-text {
  font-size: 20px;
  font-weight: 300;
}

.small-text {
  font-size: 16px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .big-text {
    font-size: 35px;
  }
  .medium-text {
    font-size: 28px;
  }
  .normal-text {
    font-size: 16px;
  }
  .small-text {
    font-size: 14px;
  }
}
#first-page {
  background-image: url(bg.webp);
  margin-left: 2rem;
  margin-right: 2rem;
}

.menucontent {
  color: rgb(0, 0, 0);
  width: 28px;
  height: 4px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 5px 0;
  transition: ease-in-out 0.2s;
}

#menu-button {
  z-index: 999999;
  position: fixed;
  right: 30px;
  top: 30px;
  background: transparent;
  border: none;
}

#menu {
  z-index: 99999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 100vw;
  background: rgb(255, 255, 255);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#menu.is-active {
  left: 0px;
  top: 0px;
}

.is-active .bar2 {
  opacity: 0;
}

.is-active .bar1 {
  transform: rotate(-45deg) translate(-13px, 11px);
}

.is-active .bar3 {
  transform: rotate(45deg) translate(-1px, 0px);
}

#menu ul {
  margin: 5px;
  padding-top: 80px;
}

#menu ul li {
  list-style-type: none;
  padding-top: 20px;
  text-align: center;
}

#menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 200;
}

#menu ul li a:hover {
  color: rgb(53, 53, 53);
  font-weight: 600;
  transition: ease-out 0.5s;
  font-size: 22px;
}

#title {
  padding-top: 30px;
}

#subtitle {
  padding-top: 7px;
  font-weight: 200;
}

.header {
  background: none;
  padding-bottom: 30px;
}

.hero {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  background-size: cover;
}

.hero__content {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero__content {
    margin-left: 15px;
  }
}
.about {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.about__img {
  width: 50%;
  height: 100%;
}

.about__img img {
 object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__content {
  width: 45%;
  padding: 50px;
}

@media (max-width: 768px) {
  .about {
    flex-wrap: wrap;
    height: auto;
    margin-top: 100px;
  }
  .about__img,
  .about__content {
    width: 100%;
  }
}
.grid {
  display: flex;
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
  margin-top: 150px;
}

.grid .col {
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    flex-wrap: wrap;
  }
  .grid .col {
    width: 100%;
    margin-left: 20px;
  }
}
.main-carousel {
  padding: 40px 0;
}

.carousel-cell {
  height: 280px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  line-height: 300px;
  align-items: center;
  margin-right: 30px;
}

.img-carousel {
  height: 280px;
  width: 280px;
  border-radius: 100%;
}

.footer {
  padding: 150px 0px;
}



@media (max-width: 1920px) {
  #subtitle {
    font-size: 18px;
    padding-top: 0px;
  }
  #title {
    font-size: 28px;
    font-weight: 00;
  }
  #menu {
    font-size: 18px;
  }

  p {
    font-weight: 200;
  }
}
@media (max-width: 980px) {
  #subtitle {
    font-size: 18px;
  }
  #title {
    font-size: 20px;
  }
  #menu {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  #subtitle {
    font-size: 16px;
  }
  #title {
    font-size: 18px;
  }
  #menu {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #subtitle {
    font-size: 14px;
    padding-left: 15px;
  }
  #title {
    font-size: 16px;
    padding-left: 15px;
  }
  #menu {
    font-size: 16px;
  }
  #menu-button {
    padding-right: 0px;
  }
  .menucontent {
    width: 20px;
    height: 3px;
    margin: 3px 0;
  }
  .is-active .bar2 {
    opacity: 0;
  }
  .is-active .bar1 {
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  .is-active .bar3 {
    transform: rotate(45deg) translate(-2px, 1px);
  }
}/*# sourceMappingURL=style.css.map */